<%= form_for @post.comments.build do |f| %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <p>
        <%= f.collection_select(:user_id, User.all, :id, :username,
        { include_blank: ' Select a User or leave blank for new user' }) %>
    </p>
    
    <%= f.fields_for :user, User.new do |user_fields| %>
        <%= user_fields.label :username %>
        <%= user_fields.text_field :username %>
    <% end %>

    <p>
        <%= f.label 'New Comment' %><br>
        <%= f.text_area :content %>
    </p>
    <br>
    <%= f. submit %>
<% end %>
