<%= form_for(@post) do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </p>

<!-- This will generate a check box named post[category_ids][] for each category in Category.all
it will use the :id as the value for the checkbox and it will use the name method as the label
for the checkbox. The block syntax is very convenient for styling -->

  <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |builder| %>
    <p>
      <%= builder.label %>
      <%= builder.check_box %>
    </p>
  <% end %>

  <%= f.fields_for :categories, Category.new do |category_builder| %>
    <%= category_builder.text_field :name %>
  <% end %>

  <%= f.submit %>
<% end %>
