<h1>Post</h1>

<%= form_for (@post) do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  
  <p>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </p>

  <p>
     <%= f.label :category  %> <br>
    <%=f.collection_check_boxes(:category_ids, Category.all, :id, :name)%>
  </p><br>

  <h3>Add Category</h3>
    <%=f.fields_for :categories, post.categories.build do |category_field|%>
      <%= category_field.text_field :name%>
    <%end%>
    <br><br>
   <%= f.submit %>
   <%end%>



  