<%= form_for @post.comments.build do |c| %>
  <%= c.hidden_field :post_id, value: @post.id %>

  <h3><%= c.label 'New Comment' %> </h3>
  
  <%= c.label 'Select a user:' %>
  <%= c.collection_select :user_id, User.all, :id, :username, include_blank: true %> 
  <br><br>
  
  <%= c.label 'Or create a new user:' %>

  <%= c.fields_for :user, @post.comments.last.build_user do |u| %>
    <%= u.text_field :username %>
  <% end %>

  <br><br>
  
  <%= c.label 'Your comment:' %> <br>
  <%= c.text_area :content %> <br>

  <%= c.submit 'Create Comment' %>  
<% end %>