<div class=post-content>
    <%= @post.title %>
    <%= @post.content %>
    <% @post.categories.each do |category| %>
        <%= category.name %>
    <% end %>
    <% @post.comments.each do |c|%>
        <%=c.content%> by: <%=c.username%>
    <% end%>

</div>

<h3> New Comment?</h3>

<% form_for @post.comments.build |c| %>
    <%= c.hidden_field :post_id, :value => @post.id%>
    <%= c.text_area :content %>
    <%= c.collection_check_boxes :user_ids, User.all, :id, :username %>
    <p> Create a new User?</p>
    <% c.fields_for :user, @post.users.build do |f| %>
        <%#f.hidden_field :comment_id %>
        <%=f.label 'Username'%>
        <%=f.text_field :username%>
        <%=f.label 'Email'%>
        <%=f.text_field :email%>
    <% end %>
    <%# c.button "Create Comment", type: 'submit' %>
    <%= c.submit %>
<% end %>