<h1><%= @post.title %></h1>

<h2><%= @post.content %></h2>

<% @post.comments.each do |comment| %>
  <h3><%= comment.content + "-" + comment.user.username %></h3>
<% end %>

<h4> All commentors </h4>
  <% @users.each do |user| %>
  <%= link_to user.username, user_path(user) %><br>
  <% end %>

<%= form_for @post.comments.build do |f| %>
    <%= f.hidden_field :post_id, :value => @post.id %>

    <%= f.label :content %><br>
    <%= f.text_field :content %><br><br>

    <%= f.label :user %><br>
    <%= f.collection_select(:user, User.all, :id, :username) %>

    <%= fields_for :username do |user_fields| %>
      <% user_fields.text_field :username %>
    <% end %>

  <%= f.submit "Create Comment" %>
<% end %>
