<h1><%= @post.title %></h1>
Categories:
<ul>

<% @post.categories.each do |categ| %>
  <li><%= categ.name %></li>
<% end %>
</ul>
<p><%= @post.content %></p>
<h2>Comments:</h2>
<p><i>Read at your own peril!</i></p>

  <ul>
  <% @post.comments.each do |comment| %>
    <li><%= comment.content %></li>
  <% end %>
  </ul>

  Users who have commented on this post:
  <ul>
  <% @post.users.uniq.each do |user| %>
    <li><%= link_to user.username, user_path(user) %></li>
  <% end %>
  </ul>

