<h1>Title: <%= @post.title %></h1>
<h3>Content: <%= @post.content %></h3>
<h4>Categories</h4>
<p>
    <% @post.categories.each do |c| %>
      <ul><%= c.name %></ul>
    <% end %>

Comments:
<%= binding.pry %>
<% @post.comments.each do |c| %>
  <ul><%= c.content %></ul>
<% end %>
<%= fields_for :comments, @post.comments.build do |content| %>
  <%= content.label "Comment" %>
  <%= content.text_field :content %>
<% end %><br>
</p>

<p>
<%= form_for @comment do |f| %>
  <%= @post.comments.build do |content| %>
    <%= content.label "Comment" %>
    <%= content.text_field :content %>
  <% end %><br>
<%= f.submit %>
<% end %>
</p>
