<p>Title: <%= @post.title %></p>
Category:
<% @post.categories.each do |category| %>
  <p><%= category.name %></p>
<% end %>

<p>Content: <%= @post.content %></p>

<% @post.comments.each do |comment| %>
  <p><%= comment.user.username %> says: <%= comment.content %></p>
<% end %>

<% @post.comments.select(:user_id).distinct.each do |u| %>
  <%= link_to u.user.username, user_path(u.user_id) %>
<% end %>


Select a user or create a new user to associate with a post

<%= form_for @post.comments.build do |f| %>
  <%= f.hidden_field :post_id %>
  <p>
    <%= f.collection_select :user_id, User.all, :id, :username %>
  </p>
  <%= f.fields_for :user, User.new do |user_fields| %>
    <%= user_fields.label :username %>
    <%= user_fields.text_field :username %>
  <% end %>
  <p>
    <%= f.label :content, "New Comment" %><br>
    <%= f.text_area :content %>
  </p>
  <br/>
  <%= f.submit %>
<% end %>
