<h1> Post <%= @post.title %></h1>

<p>
  <h3>Content :</h3><%= @post.content %>
</p>

<ul>
  Categories : <%= @post.categories.each do |c| %>
  <li><%= c.name %></li>
  <% end %>
</ul>

<ul>
  Users : <%= @post.users.uniq.each do |u| %>
  <li><%= link_to u.username, user_path(u) %></li>
  <% end %>
</ul>

<ul>
  Users : <%= @post.users.each do |u| %>
  <li><%= u.email %></li>
  <% end %>
</ul>

<ul>
  Comments : <%= @post.comments.each do |c| %>
  <li><%= c.content %></li>
  <% end %>
</ul>

<h3>New User</h3>
<%= form_for(@post) do |f| %>
<p>
  <%= f.fields_for :user, @post.users.build do |users_fields| %>
  <%= f.label :username %>
    <%= users_fields.text_field :username %>
  <% end %>
</p>
<% end %>

<h3>Add Comment</h3>
<%= form_for(@post) do |f| %>
<p>
  <%= f.label :content %>
  <%= f.fields_for :comment, @post.comments.build do |comments_fields| %>
    <%= comments_fields.text_field :content %>
  <% end %>
</p>
<%= f.submit %>
<% end %>
