<h1> Post Show Page </h1> 

<h2> Title: </h2> <%= @post.title %>
<h3> Content: </h3> <%= @post.content %>
<h4> Comments: </h4> 
<% binding.pry %> 
<% @post.comments.each do |comment| %> 
    <%= comment.user.username %> says: <%= comment.content %> <br> 
<% end %> <br>  

List of unique users who have commented on this post: <br> 
<% @post.users.uniq.each do |user| %> 
    <%= link_to user.username, user_path(user) %> 
<% end %> 

<h5> Categories: </h5>
<% @post.categories.each do |category| %>  
    - <%= category.name %> <br> 
<% end %>

<h6> Make a new comment: </h6>

<%= form_for @post.comments.build do |f| %> 
    <%= f.hidden_field :post_id, value: @post.id %>
    
    Select a user: <br> 
    <%= f.collection_select :user_id, User.all, :id, :username, include_blank: "I want to create my own" %> <br> <br> 

    Create a user:
    <%= f.fields_for :user, User.new do |users_fields| %> <br> 
        New User Username: <%= users_fields.text_field :username %> <br> 
        New User Email: <%= users_fields.text_field :email %> <br> 
    <% end %>
    
    <br> <br> <br> <br> <br> 
    Write a comment: <%= f.text_area :content %> 
    <br> <br> 
    <%= f.submit %> 
<% end %> 

