<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<h3>Post Comment</h3>

<%= form_for @comment do |f| %>
    <%= f.text_area :content %><br />
    <%= f.collection_select :user_id, User.all, :id, :username, {:include_blank => ""} %>
    <%= f.fields_for :user, @comment.build_user do |user_fields| %>
        <%= user_fields.text_field :username %>
    <% end %>
    <%= f.hidden_field :post_id, :value => @post.id  %>
    
    <%= f.submit %>
<% end %>

<% @post.comments.each do |comment| %>
    <% # binding.pry %>
    <% if !comment.content.blank? %>
    <p><%= link_to comment.user.username, user_path(comment.user) %> says: <%= comment.content %></p>
    <% end %>
<% end %>
<% # binding.pry %>

