<h1>Title: <%= @post.title %></h1>
<h3>Content: <%= @post.content %></h3>
<h4>Categories</h4>
<p>
    <% @post.categories.each do |c| %>
      <ul><%= c.name %></ul>
    <% end %>

Comments:
<%= form_for @comment do |c| %>
  <%= c.label "Comment" %>
  <%= c.text_field :content %>
  <%= c.collection_select :user_id, User.all, :id, :username %>
  <%= c.hidden_field :post_id, value: @post.id %>

  <%= c.fields_for :user, @comment.build_user do |users_field| %>
    <%= users_field.label "New User" %>
    <%= users_field.text_field :username %>
  <% end %><br>
  <%= c.submit %>
<% end %><br>

<% @post.comments.each do |c| %>
  <ul><%= c.user.username %> says: <%= c.content %></ul>
  <% assert_match c.user.username, response.body %>  
    <ul><%= link_to c.user.username, user_path(c.user) %></ul>
  <% end %>
<% end %>
</p>
