<h2><%= @post.title %></h2>

<h3><%= @post.content %></h3>

<h3 style="margin-bottom: 0">Categories: </h3>
<ul style="margin-top: 8px">
  <% @post.categories.each do |category| %>
    <li><%= link_to category.name, category_path(category) %></li>
  <% end %>
</ul>

<h3 style="margin-bottom: 0">Comments: </h3>
<ul style="margin-top: 8px">
  <% @post.comments.each do |comment| %>
    <li><%= link_to comment.content, comment_path(comment) %></li>
  <% end %>
</ul>

<h3 style="margin-bottom: 0">Commenting Users: </h3>
<ul style="margin-top: 8px">
  <% @post.users.uniq.each do |user| %>
    <li><%= link_to user.username, user_path(user) %></li>
  <% end %>
</ul>

<h3>Comment:</h3>
<%= form_for @post do |f| %>
  <div>
    <%= f.label "Content" %>
    <%= f.text_area :content %>
  </div>
  
  <div>
    <%= f.label "User" %>
    <%= f.collection_check_boxes :user_ids, User.all, :id, :username %>
      <%= f.fields_for :users do |users_fields| %>
        <%= users_fields.text_field :username %>
      <% end %>
  </div>

  <%= f.submit %>
<% end %>