<h1> <%= @post.title %> </h1>
<p> Content: <%= @post.content %> </p>

<h2> Categories: </h2>
<ul>
    <% @post.categories.each do |category| %>
        <li> <%= link_to category.name, category_path(category) %> </li>
    <% end %>
</ul>

<h2> Users: </h2>
<ul>
    <% names = [] %>
    <% @post.users.each do |user| %>
        <% unless names.include? user.username %>
            <li> <%= link_to user.username, user_path(user) %> </li>
            <% names << user.username %>
        <% end %>
    <% end %>
</ul>

<h2> Comments: </h2>
<ul>
    <% @post.comments.each do |comment| %>
        <li> <%= "#{comment.user.username} says: #{comment.content}" %> </li>
    <% end %>
</ul>
<%= form_for c = @post.comments.build do |f| %>
    <%= f.label "Comment: " %>
    <%= f.text_area :content %><br>

    <%= f.label :post_id, "Post Id: " %>
    <%= f.text_field :post_id, value: @post.id %><br>

    <%= f.label :user_id, "Existing User: " %>
    <%= f.text_field :user_id, list:'user-id' %><br>
    <datalist id="user-id">
        <% User.all.each do |user| %>
            <option value="<%= user.username %>"></option>
        <% end %>
    </datalist>

    <%= f.fields_for :user, c.build_user do |user_fields| %>
        <%= user_fields.text_field :username %>
    <% end %>

    <%= f.submit %>
<% end %>
