<h1><%= @post.title %></h1>

<h2><%= @post.content %></h2>

<% @post.comments.each do |comment| %>
  <h3><%= comment.content + "-" + comment.user.username %></h3>
<% end %>

<h4> All commentors </h4>
  <% @users.each do |user| %>
  <%= link_to user.username, user_path(user) %><br>
  <% end %>

<%= form_for @post do |f| %>
  <%= fields_for :comment do |comment_fields| %>

    <%= comment_fields.label :content %><br>
    <%= comment_fields.text_field :content %><br><br>

    <%= comment_fields.label :user %><br>
    <%= comment_fields.text_field :user_username, list: "users_autocomplete" %>
    <datalist id="users_autocomplete">
      <% User.all.each do |user| %>
      <option value="<%= user.username %>">
      <% end %>
    </datalist>
  <% end %><br>



  <%= f.submit "Create Comment" %>
<% end %>
