<h1>Post: <%= @post.title %></h1>
<h3><%= @post.content %></h3>
<h4>Categories</h4>
<p>
    <h5>Categories</h5><% @post.categories.each do |c| %>
        <ul><%= c.name %></ul>
        <% end %>

Comments:
<%= binding.pry %>

  <% @post.comments.each do |comment| %>
    <%= binding.pry %>
    <%= link_to comment.user.username, user_path(comment.user) %> said
    <%= comment.content %>
  <% end %>

</p>