<h1><%= @post.title %></h1>

<p><%= @post.content %></p>

Categories: <br>
<ul>
  <% @post.categories.each do |c| %>
  <li><%= c.name %></li>
  <% end %>
</ul>

  <%= form_for @new_comment do |f| %>
     New Comment: <%= f.text_field :content %>
    <%= f.submit %>
  <% end %>
  <p>Comments:</p><br>
  <% @post.comments.each do |comment| %>
    <%= comment.content %>
  <% end %>
