<%= @post.title %><br>
<%= @post.content %><br>
<% @post.categories.each do |c| %>
<%= c.name %>
<% end %>
<br>
<% @post.comments.each do |c| %>
<%= c.user.username unless c.user.nil?%> says: <%= c.content %>
<% end %>
<br>
<h3> users </h3>
<% @post.users.each do |u| %>
<%= link_to u.username, user_path(u) %>
<% end %>
<h3>Comment</h3>
<%= form_for @comment do |f| %>
    <%= f.label :content %>
    <%= f.text_field :content %><br>
    <%= f.label :user %>
    <%= f.collection_select :user_id, User.all, :id, :username, {include_blank: true} %>
    <%= f.fields_for :user, @comment.build_user do |user_fields| %>
      <%= user_fields.text_field :username %>
    <% end %>
    <%= f.hidden_field :post_id, :value => @post.id %>
  <%= f.submit %>
  <% end %>
