<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<p>Categories: 
<% @post.categories.each do |c| %>
    <%= c.name %> 
<% end %>


<h3>Post Comment</h3>

<%= form_for @comment do |f| %>
    <%= f.text_area :content %><br />
    Select User:
    <%= f.collection_select :user_id, User.all, :id, :username, {:include_blank => ""} %><br />
    <%= f.fields_for :user, @comment.build_user do |user_fields| %>
        <%= user_fields.text_field :username %>
    <% end %>
    <%= f.hidden_field :post_id, :value => @post.id  %>
    
    <%= f.submit %>
<% end %>

<% @post.users.uniq.each do |user| %>
    <p><%= link_to user.username, user_path(user) %> says: 
    <% user.comments.each do |comment| %>
        <%= comment.content if comment.post_id == @post.id %>
    <% end %>
    </p>
<% end %>
</p>

